<% layout('layouts/boilerplate') -%>
<h1 class="text-center">New Campground</h1>
<form
    class="needs-validation"
    action="/campgrounds"
    method="POST"
    novalidate
    enctype="multipart/form-data"
>
    <div class="container w-50">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
                type="text"
                class="form-control"
                id="title"
                name="campground[title]"
                required
            />
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
                type="text"
                class="form-control"
                id="location"
                name="campground[location]"
                required
            />
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload images</label>
            <input
                class="form-control"
                type="file"
                id="image"
                name="image"
                multiple
            />
        </div>
        <label for="price" class="form-label">Price</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="price">$</span>
            <input
                type="text"
                class="form-control"
                placeholder="0.00"
                aria-label="Username"
                aria-describedby="price"
                id="price"
                name="campground[price]"
                required
            />
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
                type="text"
                class="form-control"
                id="description"
                name="campground[description]"
                rows="3"
                required
            ></textarea>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <button class="btn btn-success">Add Campground</button>
    </div>
</form>
<div class="d-flex justify-content-center">
    <a href="/campgrounds">All campgrounds</a>
</div>
