<% layout('layouts/boilerplate') -%>
<div class="row justify-content-center mb-4">
    <div class="col col-md-4">
        <div class="card">
            <img class="card-img-top" src="https://res.cloudinary.com/dilh6ijxi/image/upload/v1646197534/YelpCamp/camping-kampcilik-nedir_jh2ajc.jpg" alt="">
            <div class="card-body pt-1">
                <h2 class="card-title text-center">Login</h2>
                <form
                    class="needs-validation"
                    action="/login"
                    method="POST"
                    novalidate
                >
                    <div class="mb-3">
                        <label for="username" class="form-label"
                            >Username</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="username"
                            name="username"
                            required
                        />
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label"
                            >Password</label
                        >
                        <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            required
                        />
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <button class="btn btn-success w-100">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
